Titanic Exploration

In [97]:
import pandas as pd

In [98]:
import numpy as np

In [99]:
import matplotlib.pyplot as plt

In [100]:
titanic_data = pd.read_csv('titanic_data.csv')

In [101]:
print titanic_data.head()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [111]:
#obtaining basic statistics regarding age and passenger class
pclass_age.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000
mean,448.582633,0.406162,2.236695,29.699118,0.512605,0.431373,34.694514
std,259.119524,0.491460,0.838250,14.526497,0.929783,0.853289,52.918930
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,222.250000,0.000000,1.000000,20.125000,0.000000,0.000000,8.050000
50%,445.000000,0.000000,2.000000,28.000000,0.000000,0.000000,15.741700
75%,677.750000,1.000000,3.000000,38.000000,1.000000,1.000000,33.375000
max,891.000000,1.000000,3.000000,80.000000,5.000000,6.000000,512.329200

Correlation between Passenger Class and Age

In [102]:
#Creating new DataFrame which only contains people whose ages are listed
pclass_age = titanic_data[titanic_data['Age']>=0]

In [103]:
#defining a correlation function
def correlation(x,y):
    std_x = (x-x.mean())/(x.std(ddof=0))
    std_y = (y-y.mean())/(y.std(ddof=0))
    return (std_x*std_y).mean()

#calculating the correlation between age and passenger class
correlation (pclass_age['Age'],pclass_age['Pclass'])

-0.36922601531551713

This correlation does provide sufficient evidence to establish a relatinship between age and passenger class, which suggests that children and adults alike were spread throughout the Titanic.

Finding Trends Between Passenger Class and Survival

In [113]:
#Creating new DataFrame whicho only contains people who survived
survived = titanic_data[titanic_data['Survived']==1]
print survived.head()

   PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [114]:
#Describing this DataFrame
survived.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,342.000000,342.0,342.000000,290.000000,342.000000,342.000000,342.000000
mean,444.368421,1.0,1.950292,28.343690,0.473684,0.464912,48.395408
std,252.358840,0.0,0.863321,14.950952,0.708688,0.771712,66.596998
min,2.000000,1.0,1.000000,0.420000,0.000000,0.000000,0.000000
25%,250.750000,1.0,1.000000,19.000000,0.000000,0.000000,12.475000
50%,439.500000,1.0,2.000000,28.000000,0.000000,0.000000,26.000000
75%,651.500000,1.0,3.000000,36.000000,1.000000,1.000000,57.000000
max,890.000000,1.0,3.000000,80.000000,4.000000,5.000000,512.329200

In [123]:
#Printing the number of people who survived and total number of people in each class
print survived['Pclass'].value_counts()
print titanic_data['Pclass'].value_counts()
#Defining a funtion which can calculate the percentage of people who survived based on a metric
def percentage_survival(metric):
    return survived[metric].value_counts()/titanic_data[metric].value_counts()
#Calling the function on the passenger class metric
percentage_survival('Pclass')

1    136
3    119
2     87
Name: Pclass, dtype: int64
3    491
1    216
2    184
Name: Pclass, dtype: int64

1    0.629630
2    0.472826
3    0.242363
Name: Pclass, dtype: float64

In [125]:
#Defining a function which calculates the percentage of people who did not survive
def percentage_not_survived(metric):
    return 1 - percentage_survival(metric)
percentage_not_survived('Pclass')

1    0.370370
2    0.527174
3    0.757637
Name: Pclass, dtype: float64

From this data, it is fairly clear to see that the passengers who were placed in higher passenger classes had a greater chance of survival. This might be due to the location of the cabins or the Titanic's policy on providing priority assistance to those in first/second class as opposed to third class. In order to investigate more about this, more information must be determined regarding how passengers were placed in successively higher passenger class seatings.

Relationship between fare, passenger class, and ultimate survival

In [126]:
correlation(titanic_data['Fare'],titanic_data['Survived'])

0.25730652238496238

In [127]:
correlation(titanic_data['Pclass'],titanic_data['Survived'])

-0.3384810359610152

In [128]:
correlation(titanic_data['Fare'],titanic_data['Pclass'])

-0.54949961994390784

There is a weak correlation between the fare paid and the survival rate, which suggests that it survival chances might not have been directly impacted by the amount of wealth someone carried, especially considering the vast range of fares paid to board the Titanic. The correlation between fare and passenger class, although greater than 0.5 is insufficient in providing an explanation. It appears as though to a reasonable extent, wealthier passengers, as expected, had better assignments.

Relationship between Sex and Survival

In [129]:
print titanic_data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [131]:
print survived['Sex'].value_counts()

female    233
male      109
Name: Sex, dtype: int64

In [132]:
percentage_survival('Sex')

female    0.742038
male      0.188908
Name: Sex, dtype: float64

From this, it is clear to see that the policy of letting women and children off first had a clear impact. Nearly 3/4 women survived compared to a mere 9/50 men.

Finding a relationship between age and survival

In [142]:
#defining a generic distribution to split values by 10%
def dist_values(data):
    return pd.qcut(data,[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0],labels=['A','B','C','D','E','F','G','H','I','J'])
#calling this function on the pclass_age DataFrame into a new column in the same DataFrame
pclass_age['Age_letter']=dist_values(pclass_age['Age'])

/anaconda3/envs/DAND/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [146]:
#creating a new DataFrame which only takes people with listed ages AND who survived
age_and_survived = pclass_age[pclass_age['Survived']==1]

In [147]:
age_and_survived.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_letter
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,H
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,E
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,G
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,E
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,A

In [149]:
age_and_survived['Age_letter'].value_counts()

A    45
G    44
B    34
I    31
F    26
D    26
E    24
J    22
H    19
C    19
Name: Age_letter, dtype: int64

In [152]:
def percentage_survival_age_letter(metric):
    return age_and_survived[metric].value_counts()/pclass_age[metric].value_counts()

In [153]:
percentage_survival_age_letter('Age_letter')

A    0.584416
B    0.390805
C    0.283582
D    0.371429
E    0.393443
F    0.393939
G    0.483516
H    0.358491
I    0.397436
J    0.343750
Name: Age_letter, dtype: float64

In general, it does not appear as though age, and resulting physical ability (specifically to swim) did not play a major role in people's survival chances. People who were at their biological physical peak survived at an astonishingly similar rate than young children and the elderly. This could be attributed to the Titanic's policy of prioritising the survival of young children and the elderly; young and middle-aged adults' physical abilities might have compensated for this.